
*,
*::after,
*::before {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Avenir LT Std";
    width:1440px;
    height: 1742px;
   
}
.header{
    height: 80px; 
    margin: 0%;
    padding: 0%;
    position: relative;  
  }
  .main-content{
      height:1200px;
      margin: 0px;
      padding: 0px;
      
  }
