.header{
    background-color: #FFF3E9;
}
.main-content{
    background: #F5F5F5;
}
.footer-content{
    background:#FFF3E9;
}
.base-footer{
    background: #000000;
    color: #FFFFFF;
}
.header nav ul li a{
    color: #000000;
}
.base-footer nav ul li a {
    color: #FFFFFF ;
}
.footer-content .wrapper-footer{
    background: #FFF3E9;
}
.edit a{
    color: #F24397;
}